---
layout: default
font: macro
lang: en
ref: index
image: true
exclude: true
---

<div class="index{% if page.image %} entry-hasBackground{% endif %}">
  <div class="content-top">
    {% if page.image %}
      <div class="hero-background" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}.jpeg'); background-image: -webkit-image-set( url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}.jpeg') 1x, url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}.jpeg') 2x )"></div>
      <div class="hero-overlay"></div>
      {% include core/metabar.html color="-white" %}
    {% else %}
      {% include core/metabar.html %}
    {% endif %}

    <header class="content hero">
      <a id="{{ page.title | url_encode }}"><h1 class="hero-title">{{ site.tagline }}</h1></a>
    </header>
  </div>
<br><br>
  <div class="content" id="js-list">
          <article class="list-recipe">
              <div class="list-image" style="height:20px;"></div>
              <div class="list-body" style="text-align:center;">
                <h2>Namasthe !, Welcome to <a href="" style="color:#FFD700" class="list-header title">Swadeshi Hub</a></h2>
                <h3>We are working on our Initiative for <a href="" style="color:#FFD700">'Vocal for Local - Campaign'</a> and will be launching our website on</h3>
                <h2 class="list-header title"><b style="color:#FF9933">15th </b><b style="color:#FFFFFF">August</b><b style="color:#138808"> 2020</b></h2>
              </div>
          </article>
          <article class="list-recipe">
              <div class="list-image" style="height:20px;"></div>
              <div class="list-body">
                <h3 class="list-header title">Our Services !</h3>
                <ul>
                  <li style="color:#FF9933"><a href="" style="color:#FFD700">Find Out</a> : Let's you distinguish Swadeshi Products from Videshi</li>
                  <li style="color:#FFFFFF"><a href="" style="color:#FFD700">Made in India</a> : Top Made in India  brands that are most trusted by millions of citizens across the country are curated right here</li>
                  <li style="color:#138808"><a href="" style="color:#FFD700">Vocal for Local</a> : This is our very own unique initiative to curate and support all the local firms and businesses. A list of all local businesses producing native products will be selected and displayed</li>
                 </ul>
              </div>
          </article>

  </div>
</div>


{% include core/footer.html %}
