---
layout: default
font: macro
lang: en
ref: know-swadeshi
image: true
exclude: true
---

<div class="index{% if page.image %} entry-hasBackground{% endif %}">
  <div class="content-top">
      {% include core/metabar.html %}
      <div class="hero-background" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/layout/{{ page.ref }}.jpeg'); background-image: -webkit-image-set( url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/layout/{{ page.ref }}.jpeg') 1x, url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/layout/{{ page.ref }}.jpeg') 2x )"></div>
  </div>
<br><br>
  <div class="content" id="js-list">
    <form class="searchbar">
      <fieldset class="searchbar-group">
        <label class="searchbar-search" for="js-search">
          <input class="search form-input" id="js-search" type="search" placeholder="Search Category, Products ..." autocomplete="off" onkeypress="return event.keyCode != 13;">
          <svg class="search-icon form-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
          </svg>
          <span class="search-highlight form-highlight"></span>
        </label>
        <label class="searchbar-search" for="filter-bar">
          <input class="form-input" id="filter-bar" type="search" placeholder="Search Category, Products ..." autocomplete="off" onkeypress="return event.keyCode != 13;">
          <svg class="search-icon form-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
          </svg>
          <span class="search-highlight form-highlight"></span>
        </label>
      </fieldset>
      <br>
      <fieldset class="searchbar-group" onclick="swadeshi();">
        <label for="food">
          <input class="searchbar-checkbox" type="checkbox" id="food" value="food">
          <span class="searchbar-button">Food</span>
        </label>
        <label for="beauty">
          <input class="searchbar-checkbox" type="checkbox" id="beauty" value="beauty">
          <span class="searchbar-button">Beauty</span>
        </label>
        <label for="electronics">
          <input class="searchbar-checkbox" type="checkbox" id="electronics" value="electronics">
          <span class="searchbar-button">Electronics</span>
        </label>
        <label for="health">
          <input class="searchbar-checkbox" type="checkbox" id="health" value="health">
          <span class="searchbar-button">Health</span>
        </label>
        <label for="fashion">
          <input class="searchbar-checkbox" type="checkbox" id="fashion" value="fashion">
          <span class="searchbar-button">Fashion (Clothing & Shoes)</span>
        </label>
        <label for="vehicles">
          <input class="searchbar-checkbox" type="checkbox" id="vehicles" value="wheeler">
          <span class="searchbar-button">Vehicles</span>
        </label>
        <label for="other">
          <input class="searchbar-checkbox" type="checkbox" id="other" value="other">
          <span class="searchbar-button">Others</span>
        </label>
      </fieldset>
    </form>

    <ul class="list">
      {% assign cat = site.categories | where: "lang", page.lang %}
      {% for page in cat %}

      <li class="list-recipe filter-list {{ page.category }}">
        <article>
          <a href="{{ site.baseurl }}{{ page.url }}" title="{{ page.title }}">
            <div class="list-image" style="background-image: url({{ site.baseurl }}{{ site.assets }}{{ site.images }}/category/{% if page.image %}{{ page.ref }}.jpeg{% elsif site.image %}{{ site.image }}{% endif %});"></div>
            <div class="list-body">
              <span class="list-category category">{{ page.category }}</span>
              <h3 class="list-header title">{{ page.title }}</h3>
              {% include custom/meta.html %}
              <span class="list-ingredients ingredients swadeshi-products" data-swadeshi-products="{% for i in page.swadeshi-products %}{{ i.name }}{% unless forloop.last %}, {% endunless %}{% endfor %}"></span>
              <span class="list-ingredients ingredients videshi-products" data-videshi-products="{% for i in page.videshi-products %}{{ i.name }}{% unless forloop.last %}, {% endunless %}{% endfor %}"></span>
            </div>
          </a>
        </article>
      </li>

      {% endfor %}
    </ul>

  </div>
</div>


{% include core/footer.html %}
