---
layout: default
font: macro
lang: en
ref: know-swadeshi
image: true
exclude: true
---
<body>

  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><img src="{{ site.baseurl }}{{ site.assets }}/{{ site.baseurl }}{{ site.assets }}/images/slider/index2.jpeg" alt="" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="/#hero">Home</a></li>
          <li><a href="/#about">About Us</a></li>
          <li><a href="/#services">Services</a></li>
          <li class="menu-active"><a href="#">Know Swadeshi</a></li>
          <!-- <li><a href="/#team">Team</a></li>
          <li class="menu-has-children"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="menu-has-children"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li> -->
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Know Swadeshi Section
  ============================-->
  <section id="knowswadeshi">
    <div class="knowswadeshi-container">
      <h1>Know Swadeshi</h1>
      <h2>An Information Hub to know more about 'Made in India' Products.</h2>
      <a href="#portfolio" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- #hero -->

    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Find Out</h3>
          <p class="section-description">Click the below Category to find out the Swadeshi Products in that Category.</p>
        </div>
        <div class="row">

          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter=".filter-Electronics, .filter-Vehicle, .filter-Food, .filter-Beauty, .filter-Consumer, .filter-Fashion, .filter-Other, .filter-Health" class="filter-active">All</li>
              <li data-filter=".filter-Electronics">Electronics</li>
              <li data-filter=".filter-Vehicle">Vehicle</li>
              <li data-filter=".filter-Food">Food</li>
              <li data-filter=".filter-Beauty">Beauty</li>
              <li data-filter=".filter-Consumer">Consumer</li>
              <li data-filter=".filter-Fashion">Fashion</li>
              <li data-filter=".filter-Health">Health</li>
              <li data-filter=".filter-Other">Other</li>
            </ul>
          </div>
        </div>

        <div class="row" id="portfolio-wrapper">


          {% assign cat = site.categories | where: "lang", page.lang %}
          {% for page in cat %}

              <div class="col-lg-3 col-md-6 portfolio-item filter-{{ page.category }}">
                <a href="">
                  <img src="{{ site.baseurl }}{{ site.assets }}{{ site.images }}/category/{% if page.image %}{{ page.ref }}.jpeg{% elsif site.image %}{{ site.image }}{% endif %}" alt="">
                  <div class="details">
                    <h4>{{ page.title }}</h4>
                    <span>{{ page.category }}</span>
                  </div>
                </a>
              </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- #portfolio -->

  </main>
  
</body>
  {% include core/footer.html %}