<aside class="sidebar" id="js-sidebar">
  <div class="sidebar-background" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}.jpeg'); background-image: -webkit-image-set( url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/contact.jpeg') 1x, url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/contact.jpeg') 2x )"></div>
  <div class="sidebar-overlay"></div>
  <div class="sidebar-wrapper">
    <h1 class="sidebar-headline">Contact Details</h1><hr>
    <form class="sidebar-ingredients">
        <div class="sidebar-ingredient">
          <label class="sidebar-label">
            <p style="font-size:15px">Phone : </p>
            <h2 style="font-size:17px">{{ page.phone }}</h2> 
            <p style="font-size:15px">Email : </p>
            <h2 style="font-size:17px">{{ page.email }}</h2>
            <p style="font-size:15px">City : <h2 style="font-size:17px">{{ page.city }}</h2></p>
            <hr>
            <p style="font-size:15px">Address : </p>
            <h2 style="font-size:17px">{{ page.address }}</h2>
            <hr>
            <p style="font-size:15px">Area Covered : </p>
            <h2 style="font-size:17px">{{ page.areacovered }}</h2>
          </label>
        </div>
    </form>
  </div>
</aside>
