<aside class="sidebar" id="js-sidebar">
  <div class="sidebar-background" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}.jpeg'); background-image: -webkit-image-set( url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/contact.jpeg') 1x, url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/contact.jpeg') 2x )"></div>
  <div class="sidebar-overlay"></div>
  <div class="sidebar-wrapper">
    <h1 class="sidebar-headline">Contact Details</h1><hr>
    <form class="sidebar-ingredients">
        <div class="sidebar-ingredient">
          <label class="sidebar-label">
            <h5>Phone : {{ page.phone }}</h5><br>
            <h5>Email : {{ page.email }}</h5><br><hr>
            <h5>City : {{ page.city }}</h5><br>
            <h5>Address : {{ page.address }}</h5><br><hr>
            <h5>Area Covered : {{ page.areacovered }}</h5>
          </label>
        </div>
    </form>
  </div>
</aside>
