<head>
  <meta charset="utf-8">
  <title>Swadeshi Hub</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="A Hub for Swadeshi Products" name="description">

  <!-- Favicons -->
  <link href="{{ site.baseurl }}{{ site.assets }}/img/favicon.png" rel="icon">
  <link href="{{ site.baseurl }}{{ site.assets }}/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="{{ site.baseurl }}{{ site.assets }}/https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{{ site.baseurl }}{{ site.assets }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{ site.baseurl }}{{ site.assets }}/lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
  <link href="{{ site.baseurl }}{{ site.assets }}/lib/owlcarousel/owl.carousel.css" rel="stylesheet">
  <link href="{{ site.baseurl }}{{ site.assets }}/lib/owlcarousel/owl.transitions.css" rel="stylesheet">
  <link href="{{ site.baseurl }}{{ site.assets }}/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}{{ site.assets }}/lib/animate/animate.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}{{ site.assets }}/lib/venobox/venobox.css" rel="stylesheet">

  <!-- Nivo Slider Theme -->
  <link href="{{ site.baseurl }}{{ site.assets }}/css/nivo-slider-theme.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{ site.baseurl }}{{ site.assets }}/css/style.css" rel="stylesheet">

  <!-- Responsive Stylesheet File -->
  <link href="{{ site.baseurl }}{{ site.assets }}/css/responsive.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: eBusiness
    Theme URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>