<aside id="metabar" class="metabar{% if include.color %} {{ include.color }}{% endif %}" style="position:fixed;background-color:#212529;top:0">
	<div class="metabar-wrapper" style="padding-top: 20px;">
		<div class="metabar-left">
			<!-- <a class="metabar-logo" href="https://swadeshihub.github.io">
				{% include custom/logo.html %}<b style="color:#FF9933">Swade</b><b style="color:#FFFFFF">shi</b>Hub<b style="color:#138808"></b>
			</a>
			<span class="metabar-spacer"></span> -->
			<a class="metabar-title" href="{{ site.url }}#" aria-label="Visit the homepage." title="Visit the homepage.">{{ site.title }}</a>
		</div>
		<div class="metabar-right">
			<button id="js-navOpen" class="nav-open">Menu</button>
			<nav id="js-metabarNav" class="metabar-nav">
				<button id="js-navClose" class="nav-close">Close</button>
				{% include core/navigation.html %}
			</nav>
		</div>
	</div>
</aside>
