<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


<div class="meta share">
  <a class="f" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" ><i class="fa fa-facebook-official fa"></i><span> </span></a>

<a class="t" href="https://twitter.com/intent/tweet?text=&url={{site.url}}{{page.url}}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><i class="fa fa-twitter fa"></i><span> </span></a>
  {% if page.medium %}
  <a href="{{ site.social.medium }}/{{ page.medium }}" target="_blank" rel="noopener noreferrer" title="Read '{{ page.title }}' on Medium." aria-label="Read '{{ page.title }}' on Medium.">
    <svg class="meta-svg share-svg share-medium" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="aria-medium">
      <title id="aria-medium">Read '{{ site.title }}' on Medium.</title>
      <path fill-rule="evenodd" d="M17.764 18.478l-.415.665 1.199.588 4.122 2.028c.226.112.442.163.628.163.418 0 .702-.262.702-.728V8.508l-6.235 9.97h-.001zm6.153-12.815c-.006-.005 0-.015-.004-.018L16.664 2.08c-.09-.045-.185-.056-.28-.065-.025 0-.046-.015-.072-.015-.276 0-.552.136-.701.375l-.36.577-.752 1.203-2.84 4.553 2.84 4.546.751 1.202.752 1.2.886 1.404 7.076-11.292c.03-.045.015-.089-.03-.119l-.017.014zm-9.42 10.413l-3.725-5.961-.443-.705-.442-.705-.376-.615v7.194l4.988 2.458.751.37.752.369-.752-1.202-.75-1.202-.002-.001zM1.108 2.296l-.22-.107c-.128-.062-.25-.091-.361-.091-.31 0-.526.236-.526.63V17.75c0 .402.3.878.664 1.058l6.227 3.075c.161.088.313.118.451.118.386 0 .658-.296.658-.783V5.74c0-.03-.018-.06-.045-.07L1.109 2.296h-.002z"/>
    </svg>
  </a>
  {% endif %}
  <span class="meta-text">Share me!</span>

</div>
