---
layout: default
font: macro
---

<article class="recipe{% if page.contact %} recipe-hasSidebar{% endif %}{% if page.image %} recipe-hasBackground{% endif %}">
  <div class="content-top">
    {% include core/metabar.html %}

    {% if page.image %}
      <div class="hero-background" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}.jpeg'); background-image: -webkit-image-set( url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}.jpeg') 1x, url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}-large.jpeg') 2x )"></div>
      <div class="hero-overlay"></div>
    {% endif %}

    <header class="content hero">
      <a id="{{ page.title | url_encode }}"><h1 class="hero-title">{{ page.title }}</h1></a>
      <h3 class="">{{ page.tagline }}</h3>
      {% include custom/meta.html %}
      <img src="{{ site.baseurl }}{{ site.assets }}{{ site.images }}/made-in-india/{% if page.image %}{{ page.ref }}.jpeg{% elsif site.image %}{{ site.image }}{% endif %}" style="width:90%;">
    </header>
    
  </div>

      <!-- {% include custom/sidebar.html %} -->

  <div class="content-bottom">
    <div class="content content-recipe content-style">

      {{ content }}
      <ul>
    {% if page.products %}
          <article class="list-recipe">
              <div class="list-image" style="height:20px;"></div>
              <div class="list-body">
                <span class="list-category category" style="background:green">Swadeshi</span>
                <h3 class="list-header title">Made in India</h3>
                <ul>
                  {% for i in page.cat %}
                      <li>{{ i.name }}</li>
                  {% endfor %}
                 </ul>
              </div>
          </article>
    {% endif %}
      </ul>
      {% include core/share.html %}

    </div>

    {% include core/footer.html %}
  </div>
</article>
