---
layout: default
font: macro
---

<article class="recipe{% if page.contact %} recipe-hasSidebar{% endif %}{% if page.image %} recipe-hasBackground{% endif %}">
  <div class="content-top">
    {% include core/metabar.html %}

    {% if page.image %}
      <div class="hero-background" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}.jpeg'); background-image: -webkit-image-set( url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}.jpeg') 1x, url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}-large.jpeg') 2x )"></div>
      <div class="hero-overlay"></div>
    {% endif %}

    <header class="content hero">
      <a id="{{ page.title | url_encode }}"><h1 class="hero-title">{{ page.title }}</h1></a>
      <h3 class="">{{ page.tagline }}</h3>
      {% include custom/meta.html %}
      <img src="{{ site.baseurl }}{{ site.assets }}{{ site.images }}/made-in-india/{% if page.image %}{{ page.ref }}.jpeg{% elsif site.image %}{{ site.image }}{% endif %}" style="width:90%;">
    </header>
    
  </div>

      <!-- {% include custom/sidebar.html %} -->

  <div class="content-bottom">
    <div class="content content-recipe content-style">

      {{ content }}
      <ul>
    {% if page.Beauty %}
          <article class="list-recipe">
              <div class="list-image" style="height:20px;"></div>
              <div class="list-body">
                <span class="list-category category" style="background:green">Beauty Products</span>
                <ul>
                  {% for i in page.Beauty %}
                    {% if i.cat %}
                      <br><h3 class="list-header title"><a href="">{{ i.cat }}</a></h3>
                    {% endif %}
                    <li>{{ i.name }}</li>
                  {% endfor %}
                 </ul>
              </div>
          </article>
    {% endif %}
      </ul>
      <ul>
    {% if page.Food %}
          <article class="list-recipe">
              <div class="list-image" style="height:20px;"></div>
              <div class="list-body">
                <span class="list-category category" style="background:green">Food Products</span>
                <ul>
                  {% for i in page.Food %}
                    {% if i.cat %}
                      <br><h3 class="list-header title"><a href="">{{ i.cat }}</a></h3>
                    {% endif %}
                    <li>{{ i.name }}</li>
                  {% endfor %}
                 </ul>
              </div>
          </article>
    {% endif %}
      </ul>
      {% include core/share.html %}

{% if page.comments %}
<script id="dsq-count-scr" src="//swadeshihub-github-io.disqus.com/count.js" async></script>
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://swadeshihub-github-io.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}

    </div>

    {% include core/footer.html %}
  </div>
</article>
