---
layout: default
font: macro
---

<article class="recipe{% if page.contact %} recipe-hasSidebar{% endif %}{% if page.image %} recipe-hasBackground{% endif %}">
  <div class="content-top">
    {% include core/metabar.html %}

    {% if page.image %}
      <div class="hero-background" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}.jpeg'); background-image: -webkit-image-set( url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}.jpeg') 1x, url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}-large.jpeg') 2x )"></div>
      <div class="hero-overlay"></div>
    {% endif %}

    <header class="content hero">
      <a id="{{ page.title | url_encode }}"><h1 class="hero-title">{{ page.title }}</h1></a>
      <h3 class="">{{ page.tagline }}</h3>
      {% include custom/meta.html %}
      <img src="{{ site.baseurl }}{{ site.assets }}{{ site.images }}/made-in-india/{% if page.image %}{{ page.ref }}.jpeg{% elsif site.image %}{{ site.image }}{% endif %}" style="width:90%;">
    </header>
    
  </div>

      <!-- {% include custom/sidebar.html %} -->

  <div class="content-bottom">
    <div class="content content-recipe content-style">
      <div class="content" id="js-list">
    <form class="searchbar">
      <fieldset class="searchbar-group">
      {% for p in page.products %}
        {% for mc in p.maincat %}
          {% if mc.main %}
            {% assign main = mc.main | where: "lang", page.lang %}
            <label for="{{ main }}">
              <input class="searchbar-checkbox js-category" type="checkbox" id="{{ main }}" value="{{ main }} Products">
              <span class="searchbar-button">{{ main }} Products</span>
            </label>
          {% endif %}
        {% endfor %}
      {% endfor %}
      </fieldset>
    </form>

    <ul class="list">
    {% for p in page.products %}

      {% for mc in p.maincat %}
        {% if mc.main %}
          {% assign main = mc.main | where: "lang", page.lang %}
        {% endif %}
      <li class="list-recipe">
        <article>
          <div class="list-image" style="height:20px;"></div>
          <div class="list-body">
            <span class="list-category category" style="background:green">{{ main }} Products</span>
            <ul>
              {% for sc in mc.subcat %}
                {% if sc.sub %}
                  <h3 class="list-header title"><a href="">{{ sc.sub }}</a></h3>
                {% endif %}
                {% if sc.name %}
                  <li>{{ sc.name }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </article>
      </li>
      {% endfor %}
    {% endfor %}
    </ul>

  </div>

      {{ content }}
      <!-- <ul>
    {% for p in page.products %}

      {% for mc in p.maincat %}
        {% if mc.main %}
          {% assign main = mc.main | where: "lang", page.lang %}
        {% endif %}
          <article class="list-recipe">
            <div class="list-image" style="height:20px;"></div>
            <div class="list-body">
              <span class="list-category category" style="background:green">{{ main }} Products</span>
              <ul>
                {% for sc in mc.subcat %}
                  {% if sc.sub %}
                    <br><h3 class="list-header title"><a href="">{{ sc.sub }}</a></h3>
                  {% endif %}
                  <li>{{ sc.name }}</li>
                {% endfor %}
              </ul>
            </div>
          </article>
      {% endfor %}
    {% endfor %}
      </ul> -->
      {% include core/share.html %}
      {% if page.comments %}
<script id="dsq-count-scr" src="//swadeshihub-github-io.disqus.com/count.js" async></script>
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
  this.page.url = "{{ site.url }}{{ page.url }}";  /* Replace PAGE_URL with your page's canonical URL variable */
  
  this.page.identifier = "{{ site.url }}{{ page.url }}"; /* Replace PAGE_IDENTIFIER with your page's unique identifier variable */
  
};(function() { /* DON'T EDIT BELOW THIS LINE */
  
var d = document, s = d.createElement('script');
s.src = 'https://swadeshihub-github-io.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
    </div>

    {% include core/footer.html %}
  </div>
</article>
