---
layout: default
font: macro
---

<article class="post{% if page.image %} entry-hasBackground{% endif %}">
  <div class="content-top">
    {% if page.image %}
      <div class="hero-background" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/layout/{{ page.ref }}.jpeg'); background-image: -webkit-image-set( url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/layout/{{ page.ref }}.jpeg') 1x, url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/layout/{{ page.ref }}-large.jpeg') 2x )"></div>
      <div class="hero-overlay"></div>
      {% include core/metabar.html color="-white" %}
    {% else %}
      {% include core/metabar.html %}
    {% endif %}
    <header class="content hero">
      <a id="{{ page.title | url_encode }}"><h1 class="hero-title">{% if page.description %}{{ page.description }}{% else %}{{ page.title }}{% endif %}</h1></a>
    </header>
  </div>

  <div class="content-bottom">
    <div class="content content-style">

      {{ content }}

      {% include core/share.html %}

    </div>
    {% if page.contact %}
    <div class="content content-style">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc8o0KDbUmgDrrRWw_3caE-O2ucHuqzV3PqY1Ti1W31fucP8g/viewform?embedded=true" width="90%" height="677" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

    </div>
    {% endif %}
  </div>
</article>

{% include core/footer.html %}
