---
layout: default
font: macro
---

<article class="recipe{% if page.ingredients %} recipe-hasSidebar{% endif %}{% if page.image %} recipe-hasBackground{% endif %}">
  <div class="content-top">
    {% include core/metabar.html %}

    {% if page.image %}
      <div class="hero-background" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}.jpeg'); background-image: -webkit-image-set( url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}.jpeg') 1x, url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}-large.jpeg') 2x )"></div>
      <div class="hero-overlay"></div>
    {% endif %}

    <header class="content hero">
      <img src="{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}.jpeg" style="width:90%"/>
      <a id="{{ page.title | url_encode }}"><h1 class="hero-title">{{ page.title }}</h1></a>
      {% include custom/meta.html %}
    </header>
    
  </div>


  <div class="content-bottom">
    <div class="content content-recipe content-style">

      {{ content }}

    {% if page.swadeshi-products %}
          <article>
              <div class="list-image" style="background-image: url({{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{% if page.image %}{{ page.ref }}.jpeg{% elsif site.image %}{{ site.image }}{% endif %});"></div>
              <div class="list-body">
                <span class="list-category category">Swadeshi</span>
                <h3 class="list-header title">Made in India</h3>
                <ul>
                  {% for i in page.swadeshi-products %}
                      <li>{{ i.name }}</li>
                  {% endfor %}
                 </ul>
              </div>
          </article>
    {% endif %}
    {% if page.videshi-products %}
        <li class="list-recipe">
          <article>
              <div class="list-image" style="background-image: url({{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{% if page.image %}{{ page.ref }}.jpeg{% elsif site.image %}{{ site.image }}{% endif %});"></div>
              <div class="list-body">
                <span class="list-category category">Videshi</span>
                <h3 class="list-header title">Foreign Products</h3>
                <ul>
                  {% for i in page.videshi-products %}
                      <li>{{ i.name }}</li>
                  {% endfor %}
                 </ul>
              </div>
          </article>
        </li>
    {% endif %}
      </ul>
      {% include core/share.html %}

    </div>

    {% include core/footer.html %}
  </div>
</article>
