---
layout: default
font: macro
---

<article class="recipe{% if page.ingredients %} recipe-hasSidebar{% endif %}{% if page.image %} recipe-hasBackground{% endif %}">
  <div class="content-top">
    {% include core/metabar.html %}

    {% if page.image %}
      <div class="hero-background" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}.jpeg'); background-image: -webkit-image-set( url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}.jpeg') 1x, url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}-large.jpeg') 2x )"></div>
      <div class="hero-overlay"></div>
    {% endif %}

    <header class="content hero">
      <img src="{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}.jpeg"/>
      <a id="{{ page.title | url_encode }}"><h1 class="hero-title">{{ page.title }}</h1></a>
      {% include custom/meta.html %}
    </header>
    
    <ul class="list">
      {% assign recipes = site.recipes | where: "lang", page.lang %}
      {% for page in recipes %}

      <li class="list-recipe">
        <article>
          <a href="{{ site.baseurl }}{{ page.url }}" title="{{ page.title }}">
            <div class="list-image" style="background-image: url({{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{% if page.image %}{{ page.ref }}.jpeg{% elsif site.image %}{{ site.image }}{% endif %});"></div>
            <div class="list-body">
              <span class="list-category category">{{ page.category }}</span>
              <h3 class="list-header title">{{ page.title }}</h3>
              {% include custom/meta.html %}
              <span class="list-ingredients ingredients" data-ingredients="{% for i in page.ingredients %}{{ i.name }}{% unless forloop.last %}, {% endunless %}{% endfor %}"></span>
            </div>
          </a>
        </article>
      </li>

      {% endfor %}
    </ul>
  </div>

  {% if page.ingredients %}
    {% include custom/sidebar.html %}
  {% endif %}

  <div class="content-bottom">
    <div class="content content-recipe content-style">

      {{ content }}

      {% include core/share.html %}

    </div>

    {% include core/footer.html %}
  </div>
</article>
