---
layout: default
font: macro
---

<div class="index{% if page.image %} entry-hasBackground{% endif %}">
  <div class="content-top">
    {% if page.image %}
      <div class="hero-background" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}.jpeg'); background-image: -webkit-image-set( url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}.jpeg') 1x, url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}.jpeg') 2x )"></div>
      <div class="hero-overlay"></div>
      {% include core/metabar.html color="white" %}
    {% else %}
      {% include core/metabar.html %}
    {% endif %}

    <header class="content hero">
      <a id="{{ page.title | url_encode }}"><h1 class="hero-title">{{ page.title }}</h1></a>
    </header>
  </div>
<br><br>
  <div class="content" id="js-list">
    <form class="searchbar">
      <fieldset class="searchbar-group">
      {% for sc in page.subcat %}
        {% if sc.name %}
          {% assign main = sc.name | where: "lang", page.lang %}
          <label for="{{ main }}">
            <input class="searchbar-checkbox js-category" type="checkbox" id="{{ main }}" value="{{ main }}">
            <span class="searchbar-button">{{ main }}</span>
          </label>
        {% endif %}
      {% endfor %}
      </fieldset>
    </form>

    <ul class="list">
      {% for item in page.carpenters %}

      <li class="list-recipe">
        <article>
          <!-- <a href="{{ site.baseurl }}{{ page.url }}" title="{{ page.title }}"> -->
            <div class="list-image" style="background-image: url({{ site.baseurl }}{{ site.assets }}{{ site.images }}/category/{% if page.image %}{{ page.ref }}.jpeg{% elsif site.image %}{{ site.image }}{% endif %});"></div>
            <div class="list-body">
              <span class="list-category category">{{ item.subcat }}</span>
              <h3 class="list-header title" style="color:#FFD700">{{ item.shopname }}</h3>
              <ul>
                <li>Name : <b style="color:#FF9933">{{ item.name }}</b></li>
                <li>Area Covered : <b style="color:#FF9933">{{ item.areacovered }}</b></li>
                <li class="contact{{ item.id }}" style="display : none;">Phone : <b style="color:#FF9933">{{ item.phone }}</b></li>
                <li class="contact{{ item.id }}" style="display : none;">Email : <b style="color:red">{{ item.email }}</b></li>
                <li class="contact{{ item.id }}" style="display : none;">Address : <b style="color:red">{{ item.address }}</b></li>
                <li class="contact{{ item.id }}" style="display : none;">City : <b style="color:red">{{ item.city }}</b></li>
                <li><button id="sbtn{{ item.id }}" class="searchbar-button" style="color:green" onclick="show_details(this.id);">Show Details</button></li>
                <li><button id="hbtn{{ item.id }}" class="searchbar-button" style="display : none;color:green" onclick="hide_details(this.id);">Hide Details</button></li>
              </ul>
            </div>
          <!-- </a> -->
        </article>
      </li>

      {% endfor %}
    </ul>

  </div>
</div>

<script type="text/javascript">
  function show_details(id) { 
    var substring = id.substr(3,);
    alert(id);
    alert(substring);
    document.querySelectorAll('.contact'+substring).style.display = 'block';
    document.querySelectorAll('#hbtn'+substring).style.display = 'block';  
    document.querySelectorAll('#sbtn'+substring).style.display = 'none';
  }
  function hide_details(id) { 
    var substring = id.substr(3,);
    alert(id);
    alert(substring);
    document.querySelectorAll('.contact'+substring).style.display = 'none';
    document.querySelectorAll('#hbtn'+substring).style.display = 'none';
    document.querySelectorAll('#sbtn'+substring).style.display = 'block';
  }
</script>

{% include core/footer.html %}