---
layout: default
font: macro
---

<article class="post{% if page.image %} entry-hasBackground{% endif %}">
  <div class="content-top">
      {% include core/metabar.html %}
      <img class="hero-background" src="/assets/images/posts/index.jpeg" style="width:100%; height:auto;margin-top: 60px;position: relative;">
  </div>

  <div class="content-bottom">
    <div class="content content-style">

      {{ content }}

      {% include core/share.html %}

  </div>
</article>

{% include core/footer.html %}
