---
layout: default
font: macro
---
<style type="text/css">
  .hero-background {display:none;}
</style>

<div class="index{% if page.image %} entry-hasBackground{% endif %}{% if page.contact %} recipe-hasSidebar{% endif %}">
  <div class="content-top">

    {% include core/metabar.html %}

    <img class="hero-background" src="{{ site.baseurl }}{{ site.assets }}{{ site.images }}/vocal-for-local/{% if page.image %}{{ page.ref }}.jpeg{% elsif site.image %}{{ site.image }}{% endif %}" style="width:100%; height:38vh;margin-top: 60px;position: relative;">

    <img class="hero-background" src="{{ site.baseurl }}{{ site.assets }}{{ site.images }}/vocal-for-local/{% if page.image %}{{ page.ref }}.jpeg{% elsif site.image %}{{ site.image }}{% endif %}" style="width:100%; height:38vh;margin-top: 60px;position: relative;">

    <img class="hero-background" src="{{ site.baseurl }}{{ site.assets }}{{ site.images }}/vocal-for-local/{% if page.image %}{{ page.ref }}.jpeg{% elsif site.image %}{{ site.image }}{% endif %}" style="width:100%; height:38vh;margin-top: 60px;position: relative;">

    <header class="content hero">
      <a id="{{ page.title | url_encode }}"><h1 class="hero-title">{{ page.title }}</h1></a>
      <h3 class="">{{ page.tagline }}</h3>
      {% include custom/meta.html %}
    </header>
    
  </div>

      <!-- {% include custom/sidebar.html %} -->

  <div class="content-bottom">
    <div class="content content-recipe content-style">

      {{ content }}
    {% if page.products %}
      <ul class="list">
        {% for i in page.products %}
          <article class="list-recipe">
              <div class="list-image" style="background-image: url({{ site.baseurl }}{{ site.assets }}{{ site.images }}/vocal-for-local/{{ page.ref }}/{{ i.pname }}.jpeg);"></div>
              <div class="list-body">
                <span class="list-category category" style="background:green">Swadeshi</span>
                <h3 class="list-header title">{{ i.name }}</h3>
              </div>
          </article>
        {% endfor %}
      </ul>
    {% endif %}
      {% include core/share.html %}
                                             
{% if page.comments %}
<script id="dsq-count-scr" src="//swadeshihub-github-io.disqus.com/count.js" async></script>
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
  this.page.url = "{{ site.url }}{{ page.url }}";  /* Replace PAGE_URL with your page's canonical URL variable */
  
  this.page.identifier = "{{ site.url }}{{ page.url }}"; /* Replace PAGE_IDENTIFIER with your page's unique identifier variable */
  
};(function() { /* DON'T EDIT BELOW THIS LINE */
  
var d = document, s = d.createElement('script');
s.src = 'https://swadeshihub-github-io.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}


<script>

var myIndex = 0;

carousel();

function carousel() {

  var i;

  var x = document.getElementsByClassName("hero-background");

  for (i = 0; i < x.length; i++) {

    x[i].style.display = "none";  

  }

  myIndex++;

  if (myIndex > x.length) {myIndex = 1}    

  x[myIndex-1].style.display = "block";  

  setTimeout(carousel, 4000);
}
</script>

    </div>

    {% include core/footer.html %}
  </div>
</div>
