---
layout: default
font: macro
---
<style>
.mySlides {display:none}
</style>

<article class="recipe{% if page.contact %} recipe-hasSidebar{% endif %}{% if page.image %} recipe-hasBackground{% endif %}">
  <div class="content-top">
    {% include core/metabar.html %}

    {% if page.image %}
      <div class="hero-background" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}.jpeg'); background-image: -webkit-image-set( url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}.jpeg') 1x, url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}-large.jpeg') 2x )"></div>
      <div class="hero-overlay"></div>
    {% endif %}

    <header class="content hero">
      <a id="{{ page.title | url_encode }}"><h1 class="hero-title">{{ page.title }}</h1></a>
      <h3 class="">{{ page.tagline }}</h3>
      {% include custom/meta.html %}
      <img src="{{ site.baseurl }}{{ site.assets }}{{ site.images }}/vocal-for-local/{% if page.image %}{{ page.ref }}.jpeg{% elsif site.image %}{{ site.image }}{% endif %}" style="width:90%;">
      <img class="mySlides" src="{{ site.baseurl }}{{ site.assets }}{{ site.images }}/category/2-wheeler.jpeg" style="width:100%">
      <img class="mySlides" src="{{ site.baseurl }}{{ site.assets }}{{ site.images }}/category/4-wheeler.jpeg" style="width:100%">
      <img class="mySlides" src="{{ site.baseurl }}{{ site.assets }}{{ site.images }}/category/camera.jpeg" style="width:100%">
    </header>
    
  </div>

      {% include custom/sidebar.html %}

  <div class="content-bottom">
    <div class="content content-recipe content-style">

<!-- <div class="w3-content w3-display-container" style="max-width:800px">
  <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
    <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
    <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
  </div>
</div> -->

      {{ content }}
      <ul>
    {% if page.products %}
          <article class="list-recipe">
              <div class="list-image" style="height:20px;""></div>
              <div class="list-body">
                <span class="list-category category" style="background:green">Swadeshi</span>
                <h3 class="list-header title">Made in India</h3>
                <ul>
                  {% for i in page.products %}
                      <li>{{ i.name }}</li>
                  {% endfor %}
                 </ul>
              </div>
          </article>
    {% endif %}
      </ul>
      {% include core/share.html %}
                                             
{% if page.comments %}
<script id="dsq-count-scr" src="//swadeshihub-github-io.disqus.com/count.js" async></script>
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
  this.page.url = "{{ site.url }}{{ page.url }}";  /* Replace PAGE_URL with your page's canonical URL variable */
  
  this.page.identifier = "{{ site.url }}{{ page.url }}"; /* Replace PAGE_IDENTIFIER with your page's unique identifier variable */
  
};(function() { /* DON'T EDIT BELOW THIS LINE */
  
var d = document, s = d.createElement('script');
s.src = 'https://swadeshihub-github-io.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}

    </div>

    {% include core/footer.html %}
  </div>
</article>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " w3-white";
}

var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  
  var dots = document.getElementsByClassName("demo");
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[myIndex-1].style.display = "block";  
  dots[myIndex-1].className += " w3-white";
  
  setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>